In [2]:
import numpy as np
import pandas as pd
my_data = [10,20,30]
labels = ['a','b','c']
arr = np.array(my_data)
print(arr)
print(my_data)
print(labels)

[10 20 30]
[10, 20, 30]
['a', 'b', 'c']

In [12]:
pd.Series(my_data,labels)

a    10
b    20
c    30
dtype: int64

In [18]:
pd.Series(arr,labels)

a    10
b    20
c    30
dtype: int64

In [28]:
np.random.seed(101)
matrix_data = np.random.rand(5,4)
row_labels = ['A','B','C','D','E']
column_headings = ['W','X','Y','Z']
df = pd.DataFrame(matrix_data,index = row_labels,columns = column_headings)
print(df)
print(df.X)
df['new'] = df['W'] + df['X']
print(df)

          W         X         Y         Z
A  0.516399  0.570668  0.028474  0.171522
B  0.685277  0.833897  0.306966  0.893613
C  0.721544  0.189939  0.554228  0.352132
D  0.181892  0.785602  0.965483  0.232354
E  0.083561  0.603548  0.728993  0.276239
A    0.570668
B    0.833897
C    0.189939
D    0.785602
E    0.603548
Name: X, dtype: float64
          W         X         Y         Z       new
A  0.516399  0.570668  0.028474  0.171522  1.087066
B  0.685277  0.833897  0.306966  0.893613  1.519174
C  0.721544  0.189939  0.554228  0.352132  0.911483
D  0.181892  0.785602  0.965483  0.232354  0.967494
E  0.083561  0.603548  0.728993  0.276239  0.687110

In [38]:
np.random.seed(101)
matrix_data = np.random.rand(5,4)
row_labels = ['A','B','C','D','E']
column_headings = ['W','X','Y','Z']
df = pd.DataFrame(matrix_data,index = row_labels,columns = column_headings)
df['new'] = df['W'] + df['X']
print(df)
df.drop('new',axis=1,inplace=True)
print(df)
df.drop('A',axis=0,inplace=True)
print(df)

          W         X         Y         Z       new
A  0.516399  0.570668  0.028474  0.171522  1.087066
B  0.685277  0.833897  0.306966  0.893613  1.519174
C  0.721544  0.189939  0.554228  0.352132  0.911483
D  0.181892  0.785602  0.965483  0.232354  0.967494
E  0.083561  0.603548  0.728993  0.276239  0.687110
          W         X         Y         Z
A  0.516399  0.570668  0.028474  0.171522
B  0.685277  0.833897  0.306966  0.893613
C  0.721544  0.189939  0.554228  0.352132
D  0.181892  0.785602  0.965483  0.232354
E  0.083561  0.603548  0.728993  0.276239
          W         X         Y         Z
B  0.685277  0.833897  0.306966  0.893613
C  0.721544  0.189939  0.554228  0.352132
D  0.181892  0.785602  0.965483  0.232354
E  0.083561  0.603548  0.728993  0.276239

In [49]:
np.random.seed(101)
matrix_data = np.random.rand(5,4)
row_labels = ['A','B','C','D','E']
column_headings = ['W','X','Y','Z']
df = pd.DataFrame(matrix_data,index = row_labels,columns = column_headings)
df['new'] = df['W'] + df['X']
print(df)
print(df.loc['C'])
print(df.loc[['C','D']])
print(df.iloc[2]) # indexing based

          W         X         Y         Z       new
A  0.516399  0.570668  0.028474  0.171522  1.087066
B  0.685277  0.833897  0.306966  0.893613  1.519174
C  0.721544  0.189939  0.554228  0.352132  0.911483
D  0.181892  0.785602  0.965483  0.232354  0.967494
E  0.083561  0.603548  0.728993  0.276239  0.687110
W      0.721544
X      0.189939
Y      0.554228
Z      0.352132
new    0.911483
Name: C, dtype: float64
          W         X         Y         Z       new
C  0.721544  0.189939  0.554228  0.352132  0.911483
D  0.181892  0.785602  0.965483  0.232354  0.967494
W      0.721544
X      0.189939
Y      0.554228
Z      0.352132
new    0.911483
Name: C, dtype: float64

In [59]:
np.random.seed(101)
matrix_data = np.random.rand(5,4)
row_labels = ['A','B','C','D','E']
column_headings = ['W','X','Y','Z']
df = pd.DataFrame(matrix_data,index = row_labels,columns = column_headings)
df['new'] = df['W'] + df['X']
print(df)
print(df.loc['D','W']) # show that particular index of row D and column 
df.loc[['B','D'],['X','Z']]

          W         X         Y         Z       new
A  0.516399  0.570668  0.028474  0.171522  1.087066
B  0.685277  0.833897  0.306966  0.893613  1.519174
C  0.721544  0.189939  0.554228  0.352132  0.911483
D  0.181892  0.785602  0.965483  0.232354  0.967494
E  0.083561  0.603548  0.728993  0.276239  0.687110
0.18189240266007867

          X         Z
B  0.833897  0.893613
D  0.785602  0.232354

In [63]:
import pandas as pd
import numpy as np
data = {'A': [1, 2, np.nan, 4], 
        'B': [5, np.nan, np.nan, 8], 
        'C': [9, 10, 11, 12]}

df = pd.DataFrame(data)
print("Original DataFrame:")
print(df)
df_cleaned = df.dropna(axis=0)
print("\nDataFrame after dropping rows with NaN:")
print(df_cleaned)

Original DataFrame:
     A    B   C
0  1.0  5.0   9
1  2.0  NaN  10
2  NaN  NaN  11
3  4.0  8.0  12

DataFrame after dropping rows with NaN:
     A    B   C
0  1.0  5.0   9
3  4.0  8.0  12

In [113]:
import pandas as pd
import numpy as np
data = {'A': [1, 2, np.nan, 4], 
        'B': [5, np.nan, np.nan, 8], 
        'C': [9, 10, 11, 12]}

df = pd.DataFrame(data)
print("Original DataFrame:")
print(df)
print(df.isnull())
df.fillna(value=df.A.mean())

Original DataFrame:
     A    B   C
0  1.0  5.0   9
1  2.0  NaN  10
2  NaN  NaN  11
3  4.0  8.0  12
       A      B      C
0  False  False  False
1  False   True  False
2   True   True  False
3  False  False  False

          A         B   C
0  1.000000  5.000000   9
1  2.000000  2.333333  10
2  2.333333  2.333333  11
3  4.000000  8.000000  12

In [67]:
import pandas as pd

# Sample Data
data = {'Category': ['A', 'B', 'A', 'B', 'A', 'C'],
        'Values': [10, 20, 15, 25, 30, 35]}

df = pd.DataFrame(data)
print("Original DataFrame:")
print(df)

# Grouping by 'Category' and summing values
grouped_df = df.groupby('Category').sum()
print("\nGrouped DataFrame (Sum):")
print(grouped_df)

Original DataFrame:
  Category  Values
0        A      10
1        B      20
2        A      15
3        B      25
4        A      30
5        C      35

Grouped DataFrame (Sum):
          Values
Category
A             55
B             45
C             35

In [68]:
grouped_df = df.groupby('Category').agg(['sum', 'mean', 'count'])
print("\nGrouped DataFrame (Multiple Aggregations):")
print(grouped_df)

Grouped DataFrame (Multiple Aggregations):
         Values
            sum       mean count
Category
A            55  18.333333     3
B            45  22.500000     2
C            35  35.000000     1

In [69]:
data = {'Category': ['A', 'A', 'B', 'B', 'C', 'C'],
        'SubCategory': ['X', 'Y', 'X', 'Y', 'X', 'Y'],
        'Values': [10, 20, 15, 25, 30, 35]}

df = pd.DataFrame(data)
print("\nOriginal DataFrame:")
print(df)

# Grouping by 'Category' and 'SubCategory'
grouped_df = df.groupby(['Category', 'SubCategory']).sum()
print("\nGrouped DataFrame (Multiple Columns):")
print(grouped_df)

Original DataFrame:
  Category SubCategory  Values
0        A           X      10
1        A           Y      20
2        B           X      15
3        B           Y      25
4        C           X      30
5        C           Y      35

Grouped DataFrame (Multiple Columns):
                      Values
Category SubCategory
A        X                10
         Y                20
B        X                15
         Y                25
C        X                30
         Y                35

In [72]:
import pandas as pd

# Create two sample DataFrames
df1 = pd.DataFrame({
    'A': [1, 2],
    'B': [3, 4]
})

df2 = pd.DataFrame({
    'A': [5, 6],
    'B': [7, 8]
})
print(df1)
print(df2)
# Concatenate along rows (axis = 0)
result = pd.concat([df1, df2], axis=0, ignore_index=True)
print(result)

   A  B
0  1  3
1  2  4
   A  B
0  5  7
1  6  8
   A  B
0  1  3
1  2  4
2  5  7
3  6  8

In [73]:
import pandas as pd

# Create two sample DataFrames
df1 = pd.DataFrame({
    'A': [1, 2],
    'B': [3, 4]
})

df2 = pd.DataFrame({
    'A': [5, 6],
    'B': [7, 8]
})
print(df1)
print(df2)
# Concatenate along columns (axis = 1)
result = pd.concat([df1, df2], axis=1)
print(result)

   A  B
0  1  3
1  2  4
   A  B
0  5  7
1  6  8
   A  B  A  B
0  1  3  5  7
1  2  4  6  8

In [86]:
# merge 
import pandas as pd
df1 = pd.DataFrame({
    'ID': [1, 2, 3],
    'Name': ['Alice','Bob','Charlie'],
    'Age': [25, 30, 35]
})
df2 = pd.DataFrame({
    'ID': [1, 2, 4],
    'country': ['USA', 'UK', 'Canada']
})
print(df1)
print(df2)
merged_df = pd.merge(df1, df2, on = 'ID', how = 'inner')
print(merged_df)
merged1_df = pd.merge(df1, df2, on = 'ID', how = 'left')
print(merged1_df)
merged2_df = pd.merge(df1, df2, on = 'ID', how = 'right')
print(merged2_df)
merged3_df = pd.merge(df1, df2, on = 'ID', how = 'outer')
print(merged3_df)

   ID     Name  Age
0   1    Alice   25
1   2      Bob   30
2   3  Charlie   35
   ID country
0   1     USA
1   2      UK
2   4  Canada
   ID   Name  Age country
0   1  Alice   25     USA
1   2    Bob   30      UK
   ID     Name  Age country
0   1    Alice   25     USA
1   2      Bob   30      UK
2   3  Charlie   35     NaN
   ID   Name   Age country
0   1  Alice  25.0     USA
1   2    Bob  30.0      UK
2   4    NaN   NaN  Canada
   ID     Name   Age country
0   1    Alice  25.0     USA
1   2      Bob  30.0      UK
2   3  Charlie  35.0     NaN
3   4      NaN   NaN  Canada

In [87]:
# Create DataFrames with indexes
df1 = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Charlie'],
}, index=[1, 2, 3])

df2 = pd.DataFrame({
    'Country': ['USA', 'UK', 'Canada']
}, index=[1, 2, 4])

# Merge using index
merged_df = pd.merge(df1, df2, left_index=True, right_index=True, how='inner')
print(merged_df)

    Name Country
1  Alice     USA
2    Bob      UK

In [89]:
import pandas as pd

# Create a DataFrame
data = {'A': [1, 2, 2, 3, 4, 4],
        'B': ['x', 'y', 'x', 'z', 'z', 'y']}
df = pd.DataFrame(data)
print(df.head(3))
# Get the unique values in column 'A'
print(df['A'].unique())
# Get the first 3 rows and unique values in column 'B'
print(df.head(3)['B'].unique())

   A  B
0  1  x
1  2  y
2  2  x
[1 2 3 4]
['x' 'y']

In [90]:
import pandas as pd

# Create a Series
data = ['apple', 'banana', 'apple', 'orange', 'banana', 'banana', 'apple']
series = pd.Series(data)

# Count occurrences of each unique value
value_counts = series.value_counts()

print(value_counts)

apple     3
banana    3
orange    1
Name: count, dtype: int64

In [94]:
import pandas as pd

# Create a DataFrame
data = {
    'A': [1, 2, 3, 4],
    'B': [5, 6, 7, 8],
    'C': [9, 10, 11, 12]
}

df = pd.DataFrame(data)

# Apply sum function to each column
column_sum = df.apply(sum, axis=0)

print(column_sum)

# Apply sum function to each row
row_sum = df.apply(sum, axis=1)

print(row_sum)

A    10
B    26
C    42
dtype: int64
0    15
1    18
2    21
3    24
dtype: int64

In [102]:
data = {
    'A': [1, 2, 3, 4],
    'B': [5, 6, 7, 8],
    'C': [9, 10, 11, 12]
}

df = pd.DataFrame(data)

def square(x):
    return x**2;

squared_df = df.apply(square)
squared_df

    A   B    C
0   1  25   81
1   4  36  100
2   9  49  121
3  16  64  144

In [110]:
data = {
    'A': [1, 2, 3, 4],
    'B': ['as', 'being', 'anor', 'thor'],
    'C': [9, 10, 11, 12]
}

df = pd.DataFrame(data)
def testfunc(x):
    if(x > 10):
        return (10*np.log10(x))
    else:
        return x/10

df['NEWCOL'] = df['C'].apply(testfunc)
print(df)
df['NEWCOL'] = df['B'].apply(len)
print(df)

df['NEWCOL'] = df['NEWCOL'].apply(lambda x: np.sqrt(x))
print(df)

   A      B   C     NEWCOL
0  1     as   9   0.900000
1  2  being  10   1.000000
2  3   anor  11  10.413927
3  4   thor  12  10.791812
   A      B   C  NEWCOL
0  1     as   9       2
1  2  being  10       5
2  3   anor  11       4
3  4   thor  12       4
   A      B   C    NEWCOL
0  1     as   9  1.414214
1  2  being  10  2.236068
2  3   anor  11  2.000000
3  4   thor  12  2.000000